[2015-01-10 20:52] lukesargeant opened #6 "Not respecting outputPaths config in Brocfile.js"
i'm using ember-cli 0.1.5,

I'd like to build a css file for each 'skin-*.less' file in the app/styles folder. This works with plain CSS using the following config in my Brocfile.js:

[code]

After installing the LESS precompiler with 'ember install:addon ember-cli-less' this config is not respected and instead 'ember build' looks for app/styles/app.less.

[2015-01-12 17:23] gdub22 commented on #6
@lukesargeant yes, the addon doesn't support this yet. Not sure when I can get to adding it, but happy to review a PR if you would like to submit one.

[2015-01-12 22:44] lukesargeant commented on #6
@gdub22 gladly, pull request: https://github.com/gdub22/ember-cli-less/pull/7

[2015-01-15 16:04] gdub22 commented on #6
Closed via #7

[2015-01-15 16:04] #6 closed

[2015-01-16 22:47] colinhoernig opened #8 ""Object.keys called on non-object" error on 'ember build' with v1.1.0"
With v1.1.0, I'm getting the error below when I run `ember build`.  If I downgrade the dependency to `ember-cli-less@1.0.5`, the error does not happen.

[code]

[2015-01-17 03:38] gdub22 commented on #8
Which ember-cli version you running?

[2015-01-17 17:55] stkrzysiak commented on #8
@colinhoernig is a colleague, this is with version 1.8.

[2015-01-17 18:03] gdub22 commented on #8
@stkrzysiak which *ember-cli* version? (latest is 0.1.7).
The outputPaths option will be there regardless if the user wanted to customize it since version 0.0.45.

[2015-01-19 14:54] stkrzysiak commented on #8
Sorry about that, ember-cli 0.1.2.

[2015-01-19 17:57] gdub22 commented on #8
@stkrzysiak I was able to reproduce on that old ember-cli version.  I just fixed the compatibility in the latest version.  I'd encourage everyone to upgrade ember-cli if they can.

[2015-01-19 17:57] #8 closed

[2015-02-17 13:27] QuantumInformation opened #9 "Running the dummy app in an Ember addon project can't find app/styles/app.less"
I'm trying to test an `Ember addon` project by running ember server inside an addon project. This runs the dummy app. However I am not getting my less files automatically being build with the ember-cli-less functionality (expecting ` /app/styles/app.less`):

Some files I have:

    /addon-project
      /app
        /styles
          /less
          app.less
      /dist
      /assets
         dummy

[2015-02-19 19:42] martinthogersen opened #10 "Only recompile, when LESS files has changed"
The LESS compiler runs each time a file has changed, even if no LESS files have been touched:

[code]

Is it possible to only run LESS recompile, when a LESS file has been edited? That would save a lot of time.

[2015-02-19 21:19] gdub22 commented on #10
@martinthogersen I can't reproduce this.  Only changing a less file triggers a less rebuild.  Could be a problem with a specific ember-cli version?  Working well on 0.1.15 and all previous versions.

[2015-02-19 21:23] martinthogersen commented on #10
I upgraded to version 0.2.0-beta.1 after writing the previous comment, and the LessCompiler still runs for every change:

[code]

[2015-03-03 22:41] jasonmit opened #12 "broccoli-less-single less parser upgraded from 1.x to 2.x"
Just a friendly note that we've upgraded the Less parser within broccoli-less-single.

Nothing stands out as a breaking change (http://lesscss.org/usage/#v2-upgrade-guide-programmatic-usage), but the latest broccoli-less-single version is now 0.2.0.

Notifying you since your version constraints would be pulling in that change.

Thanks

[2015-03-03 23:21] gdub22 commented on #12
@jasonmit thanks for the heads up! Working on an update now.  Currently, it will still pull in 1.x less as a dependency of broccoli-less-single at 0.1.5

[2015-03-04 19:40] timohofmeijer commented on #12
:+1: (This update will resolve the issue where the express-server craps out on less compilation errors, which becomes quite painfull on larger projects)

[2015-03-04 20:43] gdub22 commented on #12
closed via 4178e3e3a6dc5e9c3e1a808c04b51066500aaa7a

[2015-03-04 20:43] #12 closed

[2015-03-05 16:05] johnculviner opened #13 "EEXIST, file already exists, constantly with ember serve"
I pretty much can't use ember serve as a result because it dies constantly due to this. Anyone else seeing this? I've already tried clearing out everything etc. and it keeps popping up

[code]

[2015-03-06 06:21] jasonmit commented on #13
@johnculviner this was a downstream npm breaking change issue with `ramraf`.  Follow the directions here: https://github.com/ember-cli/ember-cli/issues/3413

Summary:
* remove node_modules (it didn't work otherwise for me)
* add ramraf 2.8.8 as a dependency (not a devdep)
* npm install

[2015-03-06 06:23] johnculviner commented on #13
Thanks, realized that earlier today and should have closed at that time. Thanks!

[2015-03-06 06:23] #13 closed

[2015-03-06 06:28] jasonmit commented on #10
This is a known issue we have seen in the past, not an issue within ember-cli-less specifically though.  Stefan is working on some logging so you can easily track down what is touching the tree, causing the cache writer to invalidate the style tree.

It may be better to open to issue in broccoli-less-single repo for tracking purposes.

/cc @stefanpenner

[2015-03-06 15:11] stefanpenner commented on #10
@jasonmit ya, I tracked it down to sourceMapConcat invalidating the tree. I have been busy because of emberconf but @rwjblue may have time to look into it today, if not I will look into it early this next week.

(currently driving back from portland, so no only LTE on my phone not my laptop)

[2015-03-06 18:53] #10 closed

[2015-03-06 19:11] aboma commented on #9
I have this issue as well in my add-on.

[2015-03-06 19:19] gdub22 commented on #9
@QuantumInformation @aboma I'm pretty sure this is an issue with ember-cli itself.
See: https://github.com/ember-cli/ember-cli/issues/2363, https://github.com/ember-cli/ember-cli/issues/2354, https://github.com/ember-cli/ember-cli/pull/2381

[2015-03-21 19:54] martinthogersen commented on #10
@stefanpenner Can I track the progress somewhere?

[2015-03-21 20:06] stefanpenner commented on #10
not currently, it is quite literally in every related project.

[2015-03-21 20:08] martinthogersen commented on #10
Alright thanks. Keep up the good work :+1:

[2015-03-21 20:11] stefanpenner commented on #10
basically, I got blocked by that stupid glob/rimraf + npm issue. Now that that is resolved I can resume work. It was just wide-spread because it involves updating literally everything :P

[2015-03-21 20:14] martinthogersen commented on #10
Awesome! Does that mean that this issue is resolved?
https://github.com/broccolijs/broccoli/issues/232

[2015-03-23 10:36] DENIELER commented on #10
@martinthogersen no, it still actual for me, at least, even after update to new version (

[2015-03-24 21:14] g-cassie opened #15 "LessCompiler runs for every build in watch mode"
When running `ember build --watch` the `LessCompiler` task runs during every single build even when no changes have been made to any `.less` files.  This significantly increases the total build time because the task takes 0.5-2.5 seconds and the rest of the build takes about 0.5-1.5 seconds.

I am not sure whether this is a problem with ember-cli, ember-cli-less or my config.  Would appreciate som

[2015-03-24 21:26] gdub22 commented on #15
Should not be an issue with this addon.
See https://github.com/gdub22/ember-cli-less/issues/10

[2015-03-24 21:28] g-cassie commented on #15
Sorry should have noticed that issue before I posted. I'll close this and comment over there if necessary.

[2015-03-24 21:28] #15 closed

[2015-03-24 21:32] g-cassie commented on #10
I have experienced this issue for a couple months. I think I have used the following versions of ember-cli in that time:  `0.12.x`, `0.15.x`, `0.2.1`.  This was not an issue prior to upgrading to `0.12.x` but unfortunately I can't recall what cli version I had prior to that.

[2015-03-26 17:45] stefanpenner opened #16 "option confusion"
https://github.com/gdub22/ember-cli-less/blob/master/index.js#L38 these options are for configuring the client-side app not the build tool

[2015-03-26 18:16] gdub22 commented on #16
@stefanpenner ya, shouldn't be there. @azirbel any reason you added that in your PR? https://github.com/gdub22/ember-cli-less/pull/14

[2015-03-26 18:38] azirbel commented on #16
not a good reason; I copied it from https://github.com/aexmachina/ember-cli-sass/blob/master/index.js#L42. Sorry =/

[2015-03-26 18:47] gdub22 commented on #16
@azirbel no worries, easy to remove.  @stefanpenner you may want to open an issue over there too if this is a concern.

[2015-03-26 22:24] aexmachina commented on #16
Hmmn, interesting. I received [a PR](https://github.com/aexmachina/ember-cli-sass/pull/22) that implemented the required changes for addons that were introduced in ember-cli@0.2.0. This PR also moved the configuration out of the Brocfile based on discussion with @rwjblue: http://cl.ly/image/1T3L3l0d1B1w. I thought it was strange but after some investigation decided that I'd follow Robert's instruc

[2015-03-26 22:29] stefanpenner commented on #16
@aexmachina yes. Although the build-tool config is shitty right now. We plan to improve.

[2015-03-26 22:38] aexmachina commented on #16
Okay, I'll move it back to the Brocfile then. Probably should have sought clarification from @rwjblue in the first place.

[2015-03-30 08:23] jehrhardt opened #17 "bootstrap.less wasn't found"
I have the following problem with using Bootstrap:

[code]

I did the following steps:

1. Create a new Ember application
2. Install less support [as documented](http://www.ember-cli.com/#less)
3. Install bootstrap [like in the examples](https://github.com/gdub22/ember-cli-less#examples)
4. Start the application: `npm start`

This results in the above error. I have put a [demonstration of the prob

[2015-03-30 09:45] antonfefilov commented on #17
+1

[2015-03-30 10:23] antonfefilov commented on #17
I guess this is because of the #16. You have 2 ways to solve this problem immediately:
1) you can use previous version of the ember-cli-less (1.2.0 in this case) or 2) you can move lessOptions from `Brocfile.js` to the `config/environment.js`.

[code]

[2015-03-30 10:45] jehrhardt commented on #17
Hmmh, how will this be in the future? Will future versions require `lessOptions` in `Brocfile.js` or in `config/environment.js`?

[2015-03-30 12:38] antonfefilov commented on #17
Based on the discussion mentioned above I guess future versions will require `lessOptions` in `Brocfile.js`. @gdub22 can you confirm this?

[2015-03-30 13:39] gdub22 commented on #17
Options should continue to be defined in the Brocfile as described in the readme.  If that isn't working, downgrade to a previous version for the time being.  I'll test everything and get the addon back in full working order today.

[2015-04-02 21:59] stefanpenner opened #18 "sourceMap: true, requires source-map module (but this project does not include it)"
https://github.com/gdub22/ember-cli-less/blob/master/index.js#L40-L42

[2015-04-02 22:01] stefanpenner commented on #17
this is a change/regression in ember-cli related to setupPreprocessRegistry. Investigating it now.

[2015-04-02 22:11] gdub22 commented on #17
Reference: https://github.com/ember-cli/ember-cli/issues/3701

[2015-04-02 22:38] gdub22 commented on #18
Source maps worked here I presume until source map support landed in directly in ember-cli?  Any references would be helpful to get this back up. @stefanpenner

[2015-04-02 22:43] stefanpenner commented on #18
this sentence confuses me.

[2015-04-02 23:18] gdub22 commented on #18
Less source maps were working in this plugin.  They no longer do.  I'm guessing they broke due to an update in ember-cli.  What is the source-map module?

[2015-04-02 23:25] stefanpenner commented on #18
it appears npm trolled me, and for some-reason did not install the optional dependency less has on `source-map` module

[2015-04-02 23:25] #18 closed

[2015-04-06 15:35] henryw14 opened #19 "Project not compiling lessOptions"
Just added someone new to our dev team. She installed Yosemite, while I have Mavericks. We are using the ember-cli-less to compile our less, using the `lessOptions` hash inside of our brocfile to specify the order of compilation. Anyway, when my app builds, I see this output:
[code]
whereas when she runs it, she sees:
[code]
which is clearly missing the less compilation step and explains why she d

[2015-04-06 16:01] gdub22 commented on #19
@henryw14 that output is the 'slowest' trees, not necessarily all the trees.  Not sure what else could be wrong without seeing more of your setup.  OS X version shouldn't matter.  I'd recommend updating ember-cli out of the beta version as a first step.

[2015-04-07 15:59] henryw14 commented on #19
Turns out she was using 1.3.0 of Ember-cli-less, and we were using 1.2.0. Upgrading her version of ember-cli did not fix it, but downgrading back ember-cli-less to 1.2.0 did. I don't really have much to help you reproduce this other than what I told you above so you might as well close it

[2015-04-07 16:36] nuwave opened #20 "Error when using mix function"
I'm getting the following error when attempting to use the mix function (ember-cli@0.2.2):

[code]

Output:

[code]

[2015-04-07 16:39] nuwave commented on #20
Wow... why did I use quotes

[2015-04-07 16:39] #20 closed

[2015-04-07 19:05] #19 closed

[2015-04-07 19:29] gdub22 commented on #17
@jehrhardt this is fixed in 1.3.1.  Continue to define options in Brocfile, as described in the readme.  Sorry for the confusion/regression.

[2015-04-07 19:29] #17 closed

[2015-04-07 19:30] gdub22 commented on #16
Resolved by #21

[2015-04-07 19:30] #16 closed

[2015-04-07 19:46] gdub22 commented on #19
@henryw14 I just released 1.3.1 which should work well for both of you.  1.3.0 had a regression where the lessOptions were not being read.  Sorry for the confusion.

[2015-04-10 15:42] aboma commented on #9
This issue is solved now in EmberCLI >= 0.2.0. Install the addon and add it under the dependencies hash.

However, now I get the following error:

Cannot read property 'lessOptions' of undefined
TypeError: Cannot read property 'lessOptions' of undefined at Class.module.exports.lessOptions (C:\src\TUI\SPCIQ\Presentation\widget-framework\node_modules\ember-cli-less\index.js:42:49)

For addons, the o

[2015-04-10 16:13] gdub22 commented on #9
@aboma can you verify if you're using the latest version 1.3.1 and defining lessOptions in your Brocfile?

[2015-04-14 01:56] stavarotti commented on #9
@gdub22 I am seeing this issue as well.  What is the recommended way to use ember-cli-less in an addon, along with using the dummy app?  The readme doc is quite sparse when it comes to the addon section.

[2015-04-14 14:22] aboma commented on #9
Yes, I am using version 1.3.1 and defining lessOptions in the Brocfile. The problem appears to be that the app object exists but the app.options object does no, for some reason, when compiling in an addon. Perhaps there is an addon object as well?

I made a PR that fixes the issue by putting the lessOptions on the config object, but it does make more sense for it to be in the Brocfile.

[2015-04-14 14:56] gdub22 commented on #9
@aboma @stavarotti I just investigated this and got it working.  I'll have a small patch and more detailed directions in the next couple hours.

[2015-04-14 16:26] gdub22 commented on #9
@aboma @stavarotti I just released 1.3.2 with a fix for addon's dummy app.  I also made the directions clearer: https://github.com/gdub22/ember-cli-less#usage-in-addons

[2015-04-14 21:12] aboma commented on #9
Thanks!

[2015-04-14 21:36] #9 closed

[2015-04-15 18:13] stavarotti commented on #9
@gdub22 Awesome.  Works wonderfully now.

[2015-04-22 16:42] xcskier56 commented on #18
Is this fixed? I'm using 1.3.2 and not getting any source maps. On ember 1.11.1, ember-cli 0.2.3.

When I downgrade to version 1.1.1, and get brocoli-less-single v 0.1.5, the source maps work.

[2015-04-27 00:27] akatov opened #23 "sourceMaps don't seem to work"
running version 1.3.2 on node v0.12. Sourcemaps aren't being generated. config:

[code]

[2015-04-28 00:20] xcskier56 commented on #23
I had this same issue. I downgraded to `1.1.1` and that brought them back.

[2015-04-28 02:36] gdub22 commented on #23
Confirm they are broken.  ember-cli-less 1.2.0 upgraded its dependencies (broccoli-less-single / less 2.x) and there is an issue there, which I am working through. Reference: https://github.com/gabrielgrant/broccoli-less-single/issues/23

[2015-04-28 14:06] gdub22 commented on #23
@akatov @xcskier56 fixed in 1.3.3
thanks for reporting

[2015-04-28 14:06] #23 closed

[2015-04-28 14:10] akatov commented on #23
thank you for fixing! :+1:

[2015-05-01 20:17] xcskier56 commented on #23
Really appreciate the quick response, thanks!

[2015-05-12 10:14] olivierlesnicki opened #24 "Add-ons do not generate source maps"
I've created an add-on that uses ember-cli-less and addon.less file
I've added the add-on in my app (which also uses ember-cli-less with sourcemaps enabled)

I get the following not found issue:
[code]

[2015-05-12 12:55] gdub22 commented on #24
Will investigate what's creating that request.  A source map shouldn't be generated for an addon that's included in an app.  It should get concatenated into vendor.css and a source map generated for vendor.

[2015-05-22 11:21] petetnt opened #25 "Include the complete stack trace in the browsers build error message"
When there's an LESS parse error, the console shows the following:

[code]

Which is very useful. However, the browser itself only shows the following:

[code]

Compare this to a failing template:

(Browser and console)
[code]

Windows 8.1., `ember-cli-less` v1.3.3, ember-cli 0.2.5.

[2015-05-24 22:51] gdub22 commented on #25
I looked through the available addon hooks and ember-cli source and It doesn't look possible at the moment.  IMO it would be more desirable for the build to just fail and server not start at all, and thus just rely on the console errors.

[2015-05-24 23:39] gdub22 commented on #25
I found that it doesn't display in the browser because the error is missing the stack trace.  Ideally we should have them add error.stack in node less.  I fixed it here https://github.com/gdub22/ember-cli-less/commit/20bb59af4ca818abd693fc5a01ac17e478d20432 by having it print the stringified error object.

[2015-05-24 23:40] #25 closed

[2015-05-25 00:18] gdub22 commented on #24
I can't reproduce the error message.  A less addon should not and does not create a source map because it gets concat'ed into the parent app's vendor.css.  Also, contrary to my last comment, a source map isn't created for vendor.css because it can be build with a combination of different preprocessors.

[2015-05-25 00:18] #24 closed

[2015-05-25 04:00] petetnt commented on #25
Awesome :+1

I can check out that upstream issue.

[2015-07-17 16:11] beerlington commented on #17
Any chance this issue has crept back up again? I just upgraded an app from ember-cli 0.2.7 to 1.13.1 and am suddenly getting this error. I've tried to make sure I'm on the latest version of everything else, so I'm not sure if this is related or what.

[2015-07-17 17:29] gdub22 commented on #17
@beerlington I assume you already accounted for the Brocfile.js -> ember-cli-build.js change in ember-cli 1.13.1?

[2015-07-17 17:44] beerlington commented on #17
@gdub22 I didn't make that change because the ember-cli release notes say it's a deprecation, and I figured it would work but give me a deprecation warning. I'll make that change and see if it helps. Thanks!

[2015-07-17 17:47] gdub22 commented on #17
@beerlington I believe they only recently added the deprecation / backwards compatibility (on ember-cli master) because of such confusion.  So in ember-cli 1.13.1, I think the whole Brocfile is probably ignored.

[2015-08-24 19:56] jamesdixon opened #27 "Conflict w/ ember-cli-sass"
Hi,

I seem to have a conflict when using both `ember-cli-less` and `ember-cli-sass`. I have an `app.scss` file located under `app/styles/app.css`, but whenever I run `ember server`, I receive the following error:

[code]

Removing `ember-cli-less` causes things to work once again. I tried setting the include paths of both addons to different directories, but unfortunately, I end up with a blank C

[2015-08-26 20:50] medokin opened #28 "Compiles even if there is no change in any *.less file"
Ember: 2.0.1
Ember-Cli: 1.13.8

app.less

[code]

Console output:

[code]

[2015-09-11 13:08] elfixit commented on #27
i have the same problem?

[2015-09-22 19:14] dwickern commented on #28
Please fix this. There are many closed issues but this is NOT fixed.
[code]

[2015-09-22 19:30] gpoitch opened #29 "Maintainers Wanted"
Looking for maintainers to add to the repo, or hand over to ember-cli itself, as I will no longer be providing updates.

The latest release is in full working order.  Any breakage may be due to changes in ember-cli itself.

[2015-10-12 20:15] dukex opened #30 "Build fail without app.less"
Using the config:

[code]

The build fails with this message:

[code]

[2015-10-12 20:39] gdub22 commented on #30
If you want to use less, you need to create app.less.  Please see the readme

[2015-10-12 20:42] gdub22 commented on #30
Whoops, reopened. Are you saying you just want to output theme.css, and not have app.css?

[2015-10-12 22:01] dukex commented on #30
Yes, I dont have app.css, like README config:

[code]

The theme-* files `import` my general styles

[2015-10-13 14:45] knownasilya commented on #30
Trying the same thing, but with an app defined, also seeing the same issue.

[2015-10-13 15:19] knownasilya opened #32 "Adding additional outputPaths throws merge-trees error"
[code]

Returns the following error:

Pass option { overwrite: true } to mergeTrees in order to have the latter file win.

And adding the overwrite to the merge trees in my ember-cli-build.js file doesn't do anything. Note, I do have an app.less.

[2015-10-13 15:25] knownasilya commented on #29
I'd be willing to be a contributor.

[2015-10-13 15:29] gdub22 commented on #29
@knownasilya thanks! added you.  I also have a PR coming that adds a dummy app test

[2015-10-13 15:55] knownasilya commented on #30
I don't think that config means you don't have an app.css, it just means you aren't overriding it. Since mine still generates even if I have it setup like the above.

[2015-10-13 16:05] gdub22 commented on #30
confirmed with the dummy app. I have a PR in the works

[2015-10-13 16:39] gdub22 commented on #30
Scratch that PR.  I believe this should be fixed in ember-cli.
https://github.com/ember-cli/ember-cli/issues/4948

The solution for now is just to create an empty app.less file

[2015-10-13 16:52] knownasilya commented on #32
@stefanpenner do you think this is a regression somewhere in the build pipeline?

[2015-10-13 18:33] #32 closed

[2015-10-14 14:11] knownasilya opened #34 "Release 1.4"
Would do it myself, but I'm not a maintainer on npm.

[2015-10-14 14:20] gdub22 commented on #34
Closed via 91a6f3f56eaf6693ff021f262f4112bd28b35bdb
Published to npm
Added @knownasilya as npm collaborator

[2015-10-14 14:20] #34 closed

[2015-10-16 17:48] orochi235 opened #36 "Can't specify lessOptions.paths in addon"
We're having a bit of a weird issue with getting ember-cli-less to respect the `lessOptions.paths` setting in our ember-cli addon. We're simply trying to bundle all of our common stylesheets (in Less format) into a private Bower module, and then expose that module via the `paths` configuration option.

We're on an older version of ember-cli (0.2.7), but what we're doing is pretty straightforward.

[2015-10-16 18:21] knownasilya commented on #36
Sounds like a workaround that we'd want to implement, since ember-cli hasn't been moving on addon-to-addon usage.

I think we'd take the PR, just make sure to leave a comment for why the change is there and that it should be removed once support exists.

[2015-10-18 18:50] mkempe opened #38 "Fixed Source Map generation when multiple input/output paths are used."
Hey there,

first of all, many thanks for the plugin.

Could you please look over https://github.com/gabrielgrant/broccoli-less-single/pull/28 and give feedback, this probably fixes https://github.com/gdub22/ember-cli-less/issues/32 and makes

[code]

no longer necessary.

Thanks.

Maik

PS: If the pull request is accepted, i will make a pull request, which bumps the version of `ember-cli-less` an

[2015-10-19 17:50] knownasilya commented on #38
Could you create the PR based on your PR branch, so we can test ahead of time? Then it could be updated to change to the new version of less-single.

[2015-10-21 10:24] mkempe commented on #38
Hey Ilya,

thanks for your feedback. I created the PR and close this issue.

[2015-10-21 10:24] #38 closed

[2015-11-05 00:50] svkangal opened #40 "Usage in Addon"
I am new to this whole Ember Addon stuff, would it work with addon if we add list it as a devdependancy instead? Problem of it being a dependancy is that it will get linked in to the consuming app as a dependancy.

[2015-11-05 02:18] knownasilya commented on #40
Totally fine, as long as you build your assets before hand, i.e. commit your `dist` folder.

[2015-11-05 02:20] knownasilya commented on #40
What are you trying to do with less in your addon?

[2015-11-05 02:21] knownasilya commented on #36
Closing since PR was merged.

[2015-11-05 02:21] #36 closed

[2015-11-05 02:22] knownasilya commented on #27
I'm pretty sure that the way that css preprocessors work at the moment doesn't allow using two together..

[2015-11-05 04:02] svkangal commented on #40
https://github.com/gdub22/ember-cli-less#usage-in-addons, My addon styles are in less, want to convert them to css when anyone uses the addon.

[2015-11-05 14:13] knownasilya commented on #40
As far as I'm aware, you must put it in the dependencies otherwise it won't be installed when a user installs your addon, since devDependencies are only installed when you do `npm install` from within the project folder. Also, I don't think that the addon will be a direct dependency of the users project, since it's not defined in their package.json so ember-cli doesn't pick it up.

[2015-11-05 20:39] svkangal commented on #40
Thanks for replying. Right now its confusing on what is the right way to include styles and the discussion over here also got me confused.
https://github.com/ember-cli/ember-cli/issues/1853

[2015-11-05 20:45] knownasilya commented on #40
For addons I usually import inside the `index.js` in the `included` hook. I think that works with the preprocessor if it's in the deps.

[2015-11-06 17:35] DanielOchoa opened #41 "lessOptions is not working"
On ember-cli 1.13.8 and ember-cli-lesss 1.4.0, `lessOptions` doesn't seem to be working. I verified it by creating a new app and trying to load bootstrap less such as the example on this repo:

[code]

and with error:

[code]

when using `@import 'bootstrap'` on `app.less`.

[2015-11-06 17:38] knownasilya commented on #41
We have yet to release a version with that API. For latest version docs see npm or https://github.com/gdub22/ember-cli-less/tree/91a6f3f56eaf6693ff021f262f4112bd28b35bdb

[2015-11-06 17:43] knownasilya commented on #41
But it is now, pull down v1.5.0

[2015-11-06 17:43] #41 closed

[2015-11-06 17:50] knownasilya commented on #40
I'm going to close this, feel free to continue asking questions here (related to this topic).

[2015-11-06 17:50] #40 closed

[2015-11-06 17:51] knownasilya commented on #30
Closing this in favor of the ember-cli issue. Please contribute there.

[2015-11-06 17:51] #30 closed

[2015-11-06 17:59] DanielOchoa commented on #41
Thanks for pointing that out :shipit:

[2015-11-06 18:32] pgrippi opened #42 "Cannot read property 'options' of undefined"
ember-cli-less is used as a dependency in an addon my company uses, which is then used an an addon in an Ember app. With the release of 1.5.0 I am getting this error when running `ember build`:

[code]

I don't have any less options specified.

I think this stems from the fix added for https://github.com/gdub22/ember-cli-less/issues/36

[2015-11-06 18:42] knownasilya commented on #42
Thanks, will get a fix in asap.

[2015-11-06 18:46] knownasilya commented on #42
@pgrippi can you test master? `ember install gdub22/ember-cli-less`

[2015-11-06 18:52] pgrippi commented on #42
@knownasilya nope that didn't seem to fix it, it's failing on `app.options` in the if statement

[2015-11-06 18:53] pgrippi commented on #42
@knownasilya I put `console.log(app)` above the if statement and it's returning `undefined` in the console

[2015-11-06 19:24] knownasilya commented on #42
Ok, added a check for app, give it another try.

[2015-11-06 19:27] pgrippi commented on #42
That has fixed it!

[2015-11-06 19:29] knownasilya commented on #42
Published as 1.5.1

[2015-11-06 19:30] #42 closed

[2015-11-06 19:30] knownasilya commented on #28
Once that PR ^ is merged, this issue should be solved.

[2015-11-06 19:31] pgrippi commented on #42
@knownasilya thanks so much for the fast turn around :100:

[2015-11-06 19:58] svkangal commented on #40
Thanks for the help

[2015-11-10 23:52] stefanpenner opened #44 "release"
can we get a release?

[2015-11-11 00:48] knownasilya commented on #44
Was waiting on your reply here somewhere, but was wondering if this change is backwards compatible with older cli versions.

[2015-11-11 02:10] stefanpenner commented on #44
should be

[2015-11-11 14:16] knownasilya commented on #44
v1.5.2 released

[2015-11-11 14:16] #44 closed

[2015-11-17 15:10] olivierlesnicki opened #46 "Latest version of ember-cli-less is failing my build"
I have an app which use the latest ember-cli-less version.
In my `app/styles/app.less` file I have an import to `../../node_modules/my-addon/addon/styles/variables.less`

The add-on also uses ember-cli-less and has a `addon/styles/addon.less` file.

Build is failing with the following error:

[code]

It used to work previously.

[2015-11-17 15:41] knownasilya commented on #46
Sounds like a good use-case for the `paths` options, e.g.

[code]

[code]

[2015-11-17 15:55] olivierlesnicki commented on #46
Let me try...

[2015-11-20 14:03] Panman8201 opened #47 "Addon optionally bring in bower Less files"
I'm wrapping a bootstrap library that has both CSS and Less files in its bower package. Do you know if it's possible for an addon to _optionally_ use Less? It seems like you _must_ define ember-cli-less as a dependency for an `addon/styles/addon.less` to be imported/compiled. But what I'd like to happen is, if the user has ember-cli-less installed into their _project_, have the `addon.less` file b

[2016-02-10 16:37] Tuizi opened #48 "CSS not refreshed with ember server when children less are modified"
My Ember2 project is configured to use pods.
So I have this structure:

├── ember-pod/
│    ├── app/
│        ├── adapters/
│        ├── models/
│        ├── pods/
│        │   ├── components/
│        │   │   ├── list-item/
│        │   │   │    ├── style.less
│        │   ├── route1/
│        ├── styles/
│            ├── app.less

In app.less I have:
`@import app/pods/components/list-item/style`

[2016-02-10 16:40] knownasilya commented on #48
The current version of PODs does not support having styles in the PODs structure. All styles must be in the styles folder, and only app.* is consumed i.e. import sub files into app.less

[2016-02-10 17:49] Tuizi commented on #48
Is it an issue with this package or with Ember?

[2016-02-10 17:59] knownasilya commented on #48
With ember-cli, not so much an issue, just not implemented yet. Check out https://github.com/ebryn/ember-component-css, it might help in the interim.

[2016-02-10 18:00] #48 closed

[2016-03-01 23:11] mshindal commented on #28
This is still happening.

[2016-03-01 23:35] mshindal commented on #28
Sorry, let me explain:

I add Bootstrap and Bootswatch to the LESS include path in `ember-cli-build.js`:
[code]

Then in my `app.less` I import them:
[code]

This produces the output I want but it builds when any file is changed, which makes `ember server` very slow to work with:

[code]

Any ideas? This happens on `ember-cli-sass` too for me.

[2016-03-02 01:51] knownasilya commented on #28
Please comment here: https://github.com/gabrielgrant/broccoli-less-single/pull/31

[2016-03-31 13:49] nomuna opened #49 "Need better documentation with more examples."
Hi,

I would like some more examples/documentation on how to use the mergeTree and
outputPaths option, especially why/when do I have to use it and what are the inputs.

Before adding ember-cli-less all my 3rd party css libs landed in the vendor.css. Now vendor.css
is empty.

The dummy app in the tests folder is not very informative.

[2016-05-08 12:18] vvscode opened #50 "Build failed after reinstall dependencies"
All worked fine untill I try reninstall dependencies. I got

[code]

The same for 1.3.3. ( which we use before today ) and at the newest 1.5.3

[2016-05-08 16:12] knownasilya commented on #50
What version of ember-cli?

[2016-05-08 16:12] knownasilya commented on #50
Nvm, see it.

[2016-05-08 16:13] knownasilya commented on #50
This is an issue with third party code having invalid source map, like ember data for certain versions.

[2016-05-08 19:49] kitsunde commented on #50
My teammate is having a similar issue where he can't keep source maps on:

[code]

Also on 1.5.3. How do we discover source of the problem?

[2016-05-08 19:50] knownasilya commented on #50
If you do `ember build -prod` does it go away?

[2016-05-08 19:52] knownasilya commented on #50
Related issue https://github.com/ember-cli/ember-cli-uglify/issues/4

[2016-05-08 20:19] knownasilya commented on #50
Issue is with less.js itself, see https://github.com/gabrielgrant/broccoli-less-single/issues/35

[2016-05-09 04:38] jasonmit commented on #50
broccoli-less-single 0.6.1 locks lessjs to < 2.7.0.  I'll unlock it once the issue is fixed.

[2016-05-09 13:04] knownasilya commented on #50
@vvscode @kitsunde if you reinstall ember-cli-less, it should work.

[2016-05-09 13:07] vvscode commented on #50
@knownasilya  my fix is - use `1.5.3` and add
[code]

[2016-05-09 13:16] vvscode commented on #50
And yep, reinstall fix the issue. Thx

[2016-05-09 13:16] #50 closed

[2016-05-09 16:25] wattyrevBT opened #51 "Issue generating source maps"
If I leave sourceMaps enabled in lessOptions, I end up with an error like this:

When I narrow down the issue, it seems that it breaks when I have a media query nested inside a selector. Example:
[code]

So, I could either refactor any instances of nested media queries or set sourceMap to equal false.

[2016-05-09 18:26] knownasilya commented on #51
Duplicate of #50

[2016-05-09 18:26] #51 closed

[2016-05-10 06:31] jasonmit commented on #50
Unlocked the dep as 0.6.2 since 2.7.1 of less fixed the issue

[2016-05-10 12:40] knownasilya commented on #50
Excellent!

[2016-08-23 14:58] cwilli34 opened #52 "Semantic-UI LessCompiler Undefined Issues"
So I have the following in my theme.config:

[code]

If I copy the `themes` folder and put it in the `app/styles` directory and then change `@themesFolder` to point to `app/styles/themes`, I get this after doing ember server:

[code]

So what am I doing wrong?  I am using the ember-cli-less package.  I have the following in my ember-cli-build.js file:

[code]
This happens only with @import "src/se

[2016-08-23 16:40] knownasilya commented on #52
Does semantic-ui import the less styles automatically? Seems like your import assumes that, other wise you'd have to import from the node_modules or bower_components folders depending where it is..

[2016-08-23 19:55] cwilli34 commented on #52
I do the import in the app.less file.  It gets the information from semantic.less in the `bower_components /semantic-ui/src` directory.  The semantic.less file imports all the definitions.  I have no issues applying themes in the theme.config file, but it gets the themes from `bower_components/semantic-ui/src/themes`.  I should be able to have custom themes and override themes files by giving anot

[2016-08-23 20:01] cwilli34 commented on #52
Here is a link to an example project that is the only configuration I can find.  Even still, I have had to configure the actual index.js file in my semantic-ui-ember directory under node_modules to get this to work correctly with font and icon files.

[https://github.com/nathanpalmer/example-semantic-ui-ember-cli](https://github.com/nathanpalmer/example-semantic-ui-ember-cli)

[2016-08-23 20:18] knownasilya commented on #52
Try importing `bower_components /semantic-ui/src/semantic` instead.

[2016-08-26 18:04] cwilli34 commented on #52
It still gives the same error. I will try to set-up an example repo and post the link.

[2016-08-30 08:00] Unnumbered commented on #52
I got the same error when I changed semantic-ui version from 2.1.8 to 2.2.x.
I don't remember how to fix it, but now my 'theme.config' looks like this:

[code]

I hope it's useful to someone.

[2016-09-01 18:46] cwilli34 commented on #52
@Unnumbered ~ I am guessing it has to do with changes to the `bower_components/semantic-ui/src/_sites` and  `bower_components/semantic-ui/src/themes` folders for you when you updated.  If you update the Semantic-UI version, then those changes in the `src` directory are going to give you the LessCompiler `undefined` issues.  You have to recopy (overwrite), or delete the old and copy the new `_sites

[2016-09-01 18:46] #52 closed

[2016-12-15 04:23] morgan opened #53 "Tests fail in Circle due to LESS compilation using Ember 2.10.0"
Experiencing an issue running tests in Circle. Traced it down to LESS compilation. We are importing large less files which have compiled and worked across multiple versions of Ember CLI.

Ember CLI out-of-the-box passing:

https://github.com/caxiam/ember-cli-less-fail
https://circleci.com/gh/caxiam/ember-cli-less-fail/3

Branch with subset creating failure:

https://github.com/caxiam/ember-cli-les

[2017-02-13 16:52] knownasilya opened #55 "Ember Engines support"
Currently neither sass or less support engines. This is a placeholder issue for when we know how to support them.

[2017-04-13 15:19] #46 closed

[2017-06-13 14:04] efx opened #58 "ember build source map failure with ember-cli@2.13.2"
Our project uses a custom command line flag to ember build which causes this stack trace.
We are using ember-cli-less@1.5.4
[code]
This is in a private app; I will try to update later with a test app.

[2017-06-16 02:32] efx commented on #58
resolved by #59

[2017-06-16 02:32] #58 closed

[2017-08-23 16:27] shortthirdman opened #60 "JavaScript Heap Out of Memory on Ember CLI Less after 'ember build'"
I have been experiencing this issue since the last few days ever since I have upgraded my Ember App with all latest versions of dependencies.
Here is the configuration of the app I have upgraded:
`node     6.11.0`
`npm      3.10.10`
`os          Win 8 Pro win32 x64`
`ember-cli    2.11.0`
`ember         2.11.0`
`ember-data  2.11.0`
`ember-cli-less  1.5.3`

Also included is the screenshot of the err

[2017-08-24 01:03] knownasilya commented on #60
Does it always crash with less?

[2017-08-29 09:28] shortthirdman commented on #60
@knownasilya yes..It is breaking with `ember-cli-less` version higher than 1.5.2. I have reverted back to 1.5.0

[2017-10-05 15:53] jderr-mx opened #61 "Release new version to npm"
Hello,

There has not been a new release of ember-cli-less to npm since https://github.com/gpoitch/ember-cli-less/pull/59 was merged in. Would it be possible for a new version to be updated and published?

Thanks!

[2017-10-05 16:32] gpoitch commented on #61
Done!

[2017-10-05 16:32] #61 closed

[2017-10-06 12:59] jderr-mx commented on #61
Thanks so much!

[2017-10-10 11:51] mike183 commented on #55
What is actually the issue with this? I have used LESS in an engine (though extremely lightly), and it seems to have worked.

[2017-10-10 12:05] knownasilya commented on #55
I think this can probably be closed now 👍

[2017-10-10 12:05] #55 closed

[2017-10-10 12:13] mike183 commented on #55
Though I think I recall needing to include both `addon/styles/addon.less` and `app/styles/app.less` in order to get it working...I'd need to double check and see what error it gave though.

[2017-11-24 21:48] aledalgrande commented on #28
Still an issue, when I change template files, LESS files get recompiled. Am on 1.5.4.

[2017-12-21 18:13] efx commented on #60
@shortthirdman are you able to link to the app or detail how many and how large each  `.less` file is? I'm curious about this kind of performance issue.

[2017-12-21 23:02] knownasilya commented on #60
@jasonmit any ideas?

[2017-12-26 05:42] shortthirdman commented on #60
@efx Each LESS file is around 10-12 KB. and there are 17 LESS files in all

[2017-12-26 05:44] shortthirdman commented on #60
Since my issue has been solved after migrating to Ember CLI Less 1.5.0. I am closing this issue. If other issues found related to this, anyone could repoen the same for more discussion.

[2017-12-26 05:44] #60 closed

[2018-04-17 17:03] efx opened #62 "module unification app with relative @import LESS files won't build"
I recently ran the `ember-module-migrator` to migrate our app to the improved structure.
`ember build` fails because of a LESS Compiler error:
[code]
Our app uses relative LESS imports like so:
[code]
This relates to https://github.com/emberjs/ember.js/issues/16373

[2018-07-30 11:53] iqdoq-dfischer opened #64 "ember-cli-less 1.5.6 does not find function less.writeError"
I am using ember-cli 2.18.2 on a windows x64 pc with node v8.9.3.

In package.json using ember-cli-less ^1.5.5 installed the new ember-cli-less 1.5.6 today.
With version 1.5.6 I get the following error while running ember build:

[code]
.. and the build fails with exit code 1.

If I downgrade ember-cli-less to version 1.5.5 everything is fine.

I now also pinned broccoli-less-single to ^0.6.4 beca

[2018-07-30 12:50] knownasilya commented on #64
cc @jasonmit

[2018-07-30 19:50] jasonmit commented on #64
@knownasilya looking into it now.  Thanks

[2018-07-30 22:27] jasonmit commented on #64
@knownasilya patched in 1.0.1 https://github.com/gabrielgrant/broccoli-less-single/commit/b90e2eb7e9101c51b401484ee20bfbf2bd9201b7

[2018-07-31 10:41] knownasilya commented on #64
Released v1.5.7 to revert to Less v2. Releasing ember-cli-less v2 for Less v3 now.

[2018-07-31 10:50] #64 closed

[2018-08-01 13:56] iqdoq-dfischer commented on #64
I can confirm that my issues have been solved with version 1.5.7 of ember-cli-less.
Thank you very much!
:thumbsup:

[2018-08-01 14:04] gpoitch commented on #29
@knownasilya Would you like me to transfer the repo to your account?  I have no intention of maintaining this anymore

[2018-08-01 14:34] gpoitch commented on #29
@knownasilya great, can you delete your fork and ill transfer

[2018-08-01 15:43] knownasilya commented on #29
All set

[2018-08-01 15:58] #29 closed

[2018-08-10 13:45] Mithrilhall opened #65 "v2.0.0 - Cannot set property bytesRead of #<Socket> which has only a getter"
[code]

This only happened to me when using version v2.0.0. Once I rolled back to v1.5.7 the error was gone.

Steps to reproduce error:

[code]

Error:
[code]

[2018-08-10 14:15] knownasilya commented on #65
Could you past the contents of `/tmp/error.dump.abbfe53ad932dff8b89d3c69328a7696.log`?

[2018-08-10 14:16] knownasilya commented on #65
cc @jasonmit

[2018-08-10 14:38] Mithrilhall commented on #65
[code]

[2018-08-10 22:06] knownasilya commented on #65
Looks like it's blowing up in the `clone` dep, which is used by `less` directly.

[2018-08-12 23:40] jasonmit commented on #65
https://github.com/gpoitch/ember-cli-less/pull/66 resolves this

[2018-08-13 11:37] #65 closed

[2018-08-13 11:39] knownasilya commented on #65
Published as v2.0.1

[2018-10-22 22:04] yads opened #67 "ember-power-select is causing error after upgrading from 1.5.7 to 2.0.1"
We're using the [ember-power-select](https://github.com/cibernox/ember-power-select) plugin and after upgrading to ember-cli-less 2.0.1 we're getting the following LessCompiler error:

18 @ember-power-select-border-color: #aaaaaa;
19 @ember-power-select-focus-border-color: @ember-power-select-border-color;
20 @ember-power-select-default-border: 1px solid @ember-power-select-border-color;

here's t

[2018-10-31 15:34] efx commented on #28
Opened a new issue upstream here: https://github.com/gabrielgrant/broccoli-less-single/issues/44

[2019-04-25 10:45] vinodhrajamuralidharan opened #69 "Bootstrap panel.less not found issue"
I am using "ember-cli-less": "^1.5.7" - for my ember app and I get the  panel.less not found issue because of  the path problem (I guess). But it works fine when I lock the version to just use 1.5.7 instead of ^1.5.7.

 Could you please check?

error: FileError: '../../../node_modules/bootstrap/less/panels.less' wasn't found. Tried - /codebuild/output/src527386755/src/github.com/ConnectedHomes/emb

[2019-04-25 14:05] knownasilya commented on #69
What does your import code look like for panel, and where are you importing from?

[2019-04-25 15:06] knownasilya commented on #67
@jasonmit any thoughts on this?

[2019-04-26 00:54] jasonmit commented on #67
@knownasilya haven't had a chance to look, is it still happening?

[2019-04-26 01:25] knownasilya commented on #67
https://github.com/gpoitch/ember-cli-less/issues/69 also seems 2.0 specific

[2019-05-06 14:41] nhemanth007 opened #70 "Moderate security issue found in yarn audit"
[code]

[2019-05-07 16:26] vinodhrajamuralidharan commented on #69
yes, I am importing this and was working fine. Now it is not working now.

[2019-05-07 16:53] knownasilya commented on #69
@vinodhrajamuralidharan can you paste an example of what the import looks like?

[2019-07-16 20:30] gorner opened #71 "High vulnerability in dependency (lodash.merge)"
`yarn audit` output includes the following:

[code]

The package.json specifies `"lodash.merge": "^3.3.2"` so (assuming the updated version is compatible) a major version bump is required to overcome.

`broccoli-less-single` which itself relies on lodash.merge may also need to be updated (see also https://github.com/gabrielgrant/broccoli-less-single/issues/47).

[2019-07-17 13:07] knownasilya commented on #71
@gorner I'll have a look. FYI this is a build time dependency so you shouldn't have any security vulnerabilities in your app now. I'll let you know once it's updated.

[2019-07-17 13:27] gorner commented on #71
@knownasilya Understood and agreed, it’s just an annoyance.

[2019-09-23 18:05] cythrawll commented on #71
Hi, Can you look into this again?  I know it's just a build dependency, but we have strict adherence guidelines in our CI system.

[2019-09-23 20:08] knownasilya commented on #71
Once gabrielgrant/broccoli-less-single#49 is merged I'll update here

[2019-09-25 15:29] txm opened #73 "lodash CVE CI failing"
I've a simple package bump (to patch lodash) but CI is failing.  Could someone look at this pls?

https://github.com/gpoitch/ember-cli-less/pull/72

Thanks

[2019-09-28 01:56] #73 closed

[2019-09-28 02:02] knownasilya commented on #71
Released as v2.0.3

[2019-09-28 02:02] #71 closed

[2019-09-28 02:02] #70 closed

[2019-10-10 10:53] shutupandshave opened #75 "Could we get a new release with the lodash change please?"
Hi, I was the dev that updated the lodash syntax, is it possible to get a release for this please?

Thank you EVER so much for accepting the PR.

[2019-10-10 13:45] knownasilya commented on #75
Released as v2.0.4

[2019-10-10 13:45] #75 closed

[2019-10-10 13:47] knownasilya commented on #69
I think bootstrap removed less from their bundles, maybe try https://www.npmjs.com/package/bootstrap-less

[2019-10-10 13:47] #69 closed

[2019-10-10 13:48] knownasilya commented on #62
Closing since MU was discontinued for smaller incremental changes

[2019-10-10 13:48] #62 closed

[2019-10-10 13:49] knownasilya commented on #53
Rather old, so closing.

[2019-10-10 13:49] #53 closed

[2019-10-10 13:51] knownasilya commented on #47
I'm assuming you'd have to do some broccoli tree and manual processing of the less file. Closing this since it's rather old and hasn't seen any other activity.

[2019-10-10 13:51] #47 closed

[2019-10-10 13:52] knownasilya commented on #27
This might be possible in the future with embroider work, but at this time is not with the current ember-cli architecture.

[2019-10-10 13:52] #27 closed

[2019-10-10 14:00] Panman8201 commented on #47
Wow, this _does_ go back. Yeah, I basically had the addon look for `ember-cli-less` and setup the import paths for Less files. That's changed now, to Sass, but basically the same idea applies.

[2019-10-11 10:34] shutupandshave commented on #75
Many thanks

[2020-04-08 18:09] #28 closed